body {
  background-color: rgb(240, 240, 240);
  width: 100%;
}

.container {
  margin-top: 10%;
  background-color: white;
  width: 350px;
  height: fit-content;
  border-radius: 6px;
  box-shadow: 3px solid black;
}

#login-legend {
  padding-top: 10px;
}

.mb-3 {
  padding-top: 8px;
}

.btn-primary {
  margin-top: 5px;
  margin-left: 5px;
}

.alert {
  margin-top: 10px;
  width: fit-content;
}
